<div class="form-container">
    <form #ebayForm="ngForm" (ngSubmit) = "getData(ebayForm)">
        <div class="form-group row headline">
            <h3> Product Search </h3>
        </div>
        <div class="form-group row">
            <label for="keyword" class="col-sm-2 col-form-label">Keyword<span id="star">*</span></label>
            <div class="col-sm-10">
                <input type="text" [(ngModel)]="keyword" reqired name="keyword"  class="form-control" id="keyword" placeholder="Enter Product Name (eg.iPhone 8)">
            <div *ngIf="displayKeywordError">
                <span>Please enter a keyword</span>
            </div>
        </div>
        </div>
        <div class="form-group row">
            <label for="Category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-3">
                <select class="form-control" [(ngModel)]="selectedCategory" name="Category" id="Category">
                    <option value="All Categories">All Categories</option>
                    <option value="Art">Art</option>
                    <option value="Baby">Baby</option>
                    <option value="Books">Books</option>
                    <option value="Clothing, Shoes & Accessories">Clothing, Shoes & Accessories</option>
                    <option value="Computers/Tablets & Networking">Computers/Tablets & Networking</option>
                    <option value="Health & Beaut">Health & Beauty</option>
                    <option value="Music">Music</option>
                    <option value="Video Games & Consoles">Video Games & Consoles</option>
                  </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="Condition" class="col-sm-2 col-form-label">Condition</label>
            <div class="form-checkbox col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ngModel name="newCheckbox" type="checkbox" id="New" value="New">
                    <label class="form-check-label" for="New">New</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" ngModel name="usedCheckbox" type="checkbox" id="Used" value="Used">
                    <label class="form-check-label" for="Used">Used</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" ngModel name="UnspecifiedCheckbox" type="checkbox" id="Unspecified" value="Unspecified">
                    <label class="form-check-label" for="Unspecified">Unspecified</label>
                  </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="Shipping" class="col-sm-2 col-form-label">Shipping Options</label>
            <div class="form-checkbox col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ngModel name="pickupCheckbox" type="checkbox" id="Local Pickup" value="Local Pickup">
                    <label class="form-check-label" for="Local Pickup">Local Pickup</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ngModel name="shippingCheckbox" type="checkbox" id="Free Shipping" value="Free Shipping">
                    <label class="form-check-label" for="Free Shipping">Free Shipping</label>
                </div>
            </div>
        </div>        
        <div class="form-group row">
            <label for="distance" class="col-sm-2 col-form-label">Distance (Miles)</label>
            <div class="col-sm-3">
              <input type="number" [(ngModel)] ="distance"  name="distance" class="form-control" id="distance" placeholder="10">
            </div>
        </div>
        <div class="form-group row">
            <label for="From" class="col-sm-2 col-form-label">From<span id="star">*</span></label>
            <div class="col-sm-5">
                <div class="form-check">
                    <input class="form-check-input" ngModel type="radio" name="location" id="CurrentLocation" value="CurrentLocation" checked>
                    <label class="form-check-label" for="Current Location">
                        'Current Location'
                    </label>
                    </div>
                <div class="form-check">
                    <input class="form-check-input" ngModel type="radio" name="location" id="Other" value="Other">
                    <label class="form-check-label" for="Other">
                        Other. Please specify zip code:
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="number" ngModel name="zip" class="form-control" id="zip" placeholder="">
                <div *ngIf="displayLocationError">
                    <span>Please enter a zip code</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6 col-md-2 buttonholder">
                <button type="submit" [disabled]="!isValidKeyword" class="btn btn-light">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
            <div class="col-6 col-md-2 buttonholder">
                <button type="button" class="btn btn-light" (click)= "resetForm(ebayForm)"> 
                    <i class="fas fa-bars"></i> Clear
                </button>
            </div>
        </div>
      </form>
</div>

<app-results></app-results>