<div class="container"  *ngIf="wishListData && wishListData.length==0">
  <div class="row justify-content-left">
      <div class="col-12 col-md-12">
          <div class="alert alert-warning text-left" role="alert">
              No Records.
          </div>
      </div>
  </div>
</div>
<div class="button-wrapper" *ngIf="wishListData && wishListData.length!=0">
  <button type="button" class="btn btn-light">
    Detail <span class="ml-2">&rsaquo;</span>
  </button>
</div>
<div class="container result-table">
    <table class="table table-dark table-striped" *ngIf="wishListData && wishListData.length!=0">
        <thead>
          <tr>
            <th scope="col" class="number-column"><b>#</b></th>
            <th scope="col" class="image-header"><b>Image</b></th>
            <th scope="col" class="title-column"><b>Title</b></th>
            <th scope="col"><b>Title</b></th>
            <th scope="col"><b>Shipping</b></th>
            <th scope="col"><b>Zip</b></th>
            <th scope="col"><b>Wishlist</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let response of wishListData; let i = index">
            <th scope="row" class="number-column">{{ i + 1 }}</th>
            <td class="image-header"><img class="tblImg" [src]="response.Image" alt="Product Image"></td>
            <td class="title-column">{{response.Title}}</td>
            <td>${{response.Price}}</td>
            <td>{{response.ShippingInfo}}</td>
            <td>{{response.PostalCode}}</td>
            <td>
                <button class="btn btn-light" (click)="removeWishList(response)">
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="material-symbols-outlined">
                      remove_shopping_cart
                    </span>
                  </div>
                </button>
            </td>
        </tr>        
        </tbody>
      </table>
</div>
