.result-table{
    /* margin-left: 11%; */
    width: 100%;
}

.details-button {
    padding-right: 0px;
}

.table {
    width: 100%;     
    table-layout: fixed; 
}
.title-column {
   width: 40%;
   padding-right: 15%;
}

.number-column{
    text-align: center;
    width: 4%;
}

.title-column{
   width: 48%;
   white-space: nowrap; 
   overflow: hidden;
   text-overflow: ellipsis; 
}

.tblImg{
    width: 125px;
    height: 125px;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
}

.image-header{
    width: 150px;
}

.button-wrapper{
    width: 8%;
    display: flex;
    float: right;
    margin-right: 4%;
    padding: 0px;
    margin-bottom: 1%;
}
.button-wrapper button{
    width: 70%;
    height: 85%;
}
.golden-icon {
    color: goldenrod; 
  }

.totalShopping{
    text-align: left;
  }

  .shipping{
    padding-left:0;
    padding-right: 0;
}

@media (max-width: 428px) { 
    .details-button {
        padding-right: 5%;
    }

    .result-table {
        overflow-x: auto;
    }
    
    .result-table .table {
        width: 100%; 
        min-width: 1000px; 
        /* margin-bottom: 0; */
    }
    .button-wrapper {
        width: 28%; 
        margin-right: 2%; 
    }
    .button-wrapper button {
        width: 80%; 
        height: 90%;
    }
    .nav-result{
        margin-left: 12%;
        width: 80%;
    }
} 
