<div class="container" *ngIf="!clearPressed && this.singleItemData">
    <div class="row text-center">
        <p>{{this.singleItemData.Title}}</p>
    </div>
    <div class="row align-items-center">
        <!-- List Button -->
        <div class="col-4">
            <button class="btn btn-light" (click) ="backToResult()">
                <i class="bi bi-arrow-left"></i> List
            </button>
        </div>
        <div class="col-8 d-flex justify-content-end align-items-center" *ngIf="!clearPressed && this.singleItemData">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{this.singleItemData.ViewItemURLForNaturalSearch}}&quote=Buy {{this.singleItemData.title}} at {{this.singleItemData.ConvertedCurrentPrice.Value}} from link below" target="_blank"><i class="fa-brands fa-square-facebook iconbox"></i></a>
            <button class="btn btn-light" (click)="onRowButtonClick(singleItem)">
                <div class="d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined" *ngIf="!singleItem.inWishlist">
                    add_shopping_cart
                  </span>
                    <span class="material-symbols-outlined"
                    [class.golden-icon]="singleItem.inWishlist"
                     *ngIf="singleItem.inWishlist">
                      remove_shopping_cart
                    </span>
                </div>
              </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-0"></div>
        <div class="col-md-5 col-sm-12 float-right">
            <button 
            [ngClass]="{'active-btn': isActive('Product'), 'inactive-btn': !isActive('Product')}"
            class="btn" style="margin-left:13%" 
            (click)="renderContent('Product')">Product</button>
          <button 
            [ngClass]="{'active-btn': isActive('Photo'), 'inactive-btn': !isActive('Photo')}"
            class="btn" (click)="renderContent('Photo')">Photo</button>
          <button 
            [ngClass]="{'active-btn': isActive('Shipping'), 'inactive-btn': !isActive('Shipping')}"
            class="btn" (click)="renderContent('Shipping')">Shipping</button>
          <button 
            [ngClass]="{'active-btn': isActive('Seller'), 'inactive-btn': !isActive('Seller')}"
            class="btn" (click)="renderContent('Seller')">Seller</button>
          <button 
            [ngClass]="{'active-btn': isActive('Similar'), 'inactive-btn': !isActive('Similar')}"
            class="btn similar" (click)="renderContent('Similar')">Similar Products</button>
            </div>
        <hr>
    </div>
</div>
<div class="container" *ngIf="!clearPressed">
    <app-product [productData]= "singleItemData" *ngIf="activeContent === 'Product'"></app-product>
    <app-photo [item]="singleItemData" *ngIf="activeContent === 'Photo'" ></app-photo>
    <app-shipping [item]="singleItem" *ngIf="activeContent === 'Shipping'"></app-shipping>
    <app-seller [item]="singleItemData" *ngIf="activeContent === 'Seller'"></app-seller>
    <app-simproduct [product]="singleItemData" *ngIf="activeContent === 'Similar'"></app-simproduct>
</div>
