th {
  width: 20%;
}

.modal-dialog {
  padding: 0;
  background: none;
}

#imageModalLabel {
  color: black;
}

img {
  border: 12px solid black;
  height: 500px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
}

a{
    color : cadetblue;
    text-decoration : none;
}

@media screen and (max-width: 768px) {
  th{
    width: 100%;
  }
  img{
    height: 400px;
  }
}