<div class="container">
    <table class="table table-striped table-dark" *ngIf="item">
        <thead *ngIf="advanceitem?.sellerInfo[0]?.sellerUserName[0]">
            <tr>
                <th scope="col" class="text-center fs-5 text-uppercase pt-4 pb-4" colspan="2">{{ advanceitem.sellerInfo[0].sellerUserName[0]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="item.Seller?.FeedbackScore != -1">
                <th scope="row" class="d-block d-sm-table-cell">Feedback Score</th>
                <td class="d-block d-sm-table-cell">{{ item.Seller.FeedbackScore }}</td>
            </tr>
            <tr *ngIf="item.Seller.PositiveFeedbackPercent != -1">
                <th scope="row" class="d-block d-sm-table-cell">Popularity</th>
                <td class="d-block d-sm-table-cell">
                    <div class="position-relative d-inline-flex justify-content-center align-items-center">
                        <round-progress
                            [current]="item.Seller.PositiveFeedbackPercent"
                            [max]="100"
                            [color]="'#008000'"
                            [radius]="20"
                            [stroke]="3"
                            [semicircle]="false"
                            [rounded]="true"
                            [clockwise]="true"
                            [responsive]="false">
                        </round-progress>
                        <span class="position-absolute">
                            {{ item.Seller.PositiveFeedbackPercent }}
                        </span>
                    </div>
                </td>
            </tr>
            <tr *ngIf="item.Seller?.FeedbackRatingStar != 'None'">
                <th scope="row" class="d-block d-sm-table-cell">Feedback Rating Star</th>
                <td class="d-block d-sm-table-cell">
                    <ng-container *ngIf="item.Seller.FeedbackScore">
                        <ng-container *ngIf="getStarDetails(item.Seller.FeedbackScore).color">
                            <i class="material-icons"
                               [style.color]="getStarDetails(item.Seller.FeedbackScore).color">
                                {{ getStarDetails(item.Seller.FeedbackScore).icon }}
                            </i>
                        </ng-container>
                    </ng-container>
                </td>
              </tr>                           
            <tr *ngIf="item.Seller?.TopRatedSeller != undefined">
                <th scope="row" class="d-block d-sm-table-cell">Top Rated</th>
                <td class="d-block d-sm-table-cell">
                    <i class="fa-solid" [ngClass]="item.Seller.TopRatedSeller ? 'fa-check' : 'fa-xmark'" 
                        [style.color]="item.Seller.TopRatedSeller ? 'green' : 'red'"></i>
                </td>
            </tr>
            <tr *ngIf="item.Storefront?.StoreName">
                <th scope="row" class="d-block d-sm-table-cell">Store Name</th>
                <td class="d-block d-sm-table-cell">{{ item.Storefront.StoreName }}</td>
            </tr>
            <tr *ngIf="item.Storefront?.StoreURL">
                <th scope="row" class="d-block d-sm-table-cell">Buy Product At</th>
                <td class="d-block d-sm-table-cell"><a [href]="item.Storefront.StoreURL" target="_blank" class="text-decoration-none" style="color: cadetblue;">Store</a></td>
            </tr>
        </tbody>
    </table>
</div>
