<div class="container">
    <table class="table table-striped table-dark" *ngIf="item">
        <thead>
            <tr>
                <th scope="col" class="text-center" colspan="2">{{item.Seller?.StoreName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="item.Seller?.FeedbackScore">
                <th scope="row">Feedback Score</th>
                <td>{{ item.Seller.FeedbackScore }}</td>
            </tr>
            <tr *ngIf="item.Seller?.PositiveFeedbackPercent">
                <th scope="row">Popularity</th>
                <td>{{ item.Seller.PositiveFeedbackPercent }}%</td>
            </tr>
            <tr *ngIf="item.Seller?.FeedbackRatingStar">
                <th scope="row">Feedback Rating Star</th>
                <td>
                  <div class="star-container">
                    <ng-container *ngIf="item.Seller.FeedbackScore >= 10000; else starBorder">
                      <mat-icon [style.color]="getStarColor(item.Seller.FeedbackRatingStar)">star</mat-icon>
                    </ng-container>
                    <ng-template #starBorder>
                      <mat-icon [style.color]="getStarColor(item.Seller.FeedbackRatingStar)">star_border</mat-icon>
                    </ng-template>
                  </div>
                  {{ item.Seller.FeedbackRatingStar }}
                </td>
              </tr>                           
            <tr *ngIf="item.Seller?.TopRatedSeller !== undefined">
                <th scope="row">Top Rated</th>
                <td>
                    <i class="fa-solid" [ngClass]="item.Seller.TopRatedSeller ? 'fa-check' : 'fa-xmark'" 
                        [style.color]="item.Seller.TopRatedSeller ? 'green' : 'red'"></i>
                </td>
            </tr>
            <tr *ngIf="item.Storefront?.StoreName">
                <th scope="row">Store Name</th>
                <td>{{ item.Storefront.StoreName }}</td>
            </tr>
            <tr *ngIf="item.Storefront?.StoreURL">
                <th scope="row">Buy Product At</th>
                <td><a [href]="item.Storefront.StoreURL" target="_blank">Link to Store</a></td>
            </tr>
        </tbody>
    </table>
</div>
