.container-fluid{
    margin-top: 2%;
}

.btn-group{
    padding: auto;
}

.result-table{
    margin-left: 11%;
    width: 80%;
}

.progress{
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

.limited-text {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-light{
    width: 100%;
}

.tblImg{
    width: 70%;
    height: 70%;
    padding-bottom: 2%;
}
@media (max-width: 428px) { 
    .result-table {
        overflow-x: auto;
    }
    
    .result-table .table {
        width: 100%; 
        min-width: 1000px; 
        margin-bottom: 0;
    }
}