.container-fluid{
    margin-top: 2%;
}

.btn-group{
    padding: auto;
}

.result-table{
    margin-left: 11%;
    width: 80%;
}
.nav-result{
    margin-left: 39%;
    width: 80%;
}
.progress{
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

.table {
    width: 100%;     
    table-layout: fixed; 
}
.title-column {
   width: 40%;
   white-space: nowrap; 
   overflow: hidden;
   text-overflow: ellipsis; 
   padding-right: 15%;
}

.number-column{
    text-align: center;
    width: 4%;
}

.title-column{
   width: 48%;
   white-space: nowrap; 
   overflow: hidden;
   text-overflow: ellipsis; 
}

.btn-light{
    width: 69%;
    height: 49px;
}

.tblImg{
    width: 125px;
    height: 125px;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
}

.image-header{
    width: 150px;
}
.button-wrapper{
    width: 8%;
    display: flex;
    float: right;
    margin-right: 4%;
    padding: 0px;
    margin-bottom: 1%;
}
.button-wrapper button{
    width: 70%;
    height: 85%;
}
@media (max-width: 428px) { 
    .result-table {
        overflow-x: auto;
        margin-left: 6%;
        width: 89%;
    }
    
    .result-table .table {
        width: 100%; 
        min-width: 1000px; 
        margin-bottom: 0;
    }
    .button-wrapper {
        width: 28%; 
        margin-right: 2%; 
    }

    .button-wrapper button {
        width: 80%; 
        height: 90%;
    }
    .nav-result{
        margin-left: 12%;
        width: 80%;
    }
} 
