<!--

  Refered : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_grid_responsive

  Chat GPT 4 Use on the above Link + Github AutoComplete:  

  Consider the code below and make it work dynamicaly for my code with modifiedPhotosData as an array having 8 Element
  <div class="row"> 
    <div class="column">
      <img src="/w3images/wedding.jpg" style="width:100%">
      <img src="/w3images/rocks.jpg" style="width:100%">
    </div>
  </div>
  <div class="row"> 
    <div class="column">
      <img src="/w3images/wedding.jpg" style="width:100%">
      <img src="/w3images/rocks.jpg" style="width:100%">
    </div>
  </div>

  CSS: 
      /* Create four equal columns that sits next to each other */
    .column {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }

    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
    }
  ChatGPT 4 with Image Search. version, OpenAI, 25 Oct. 2023, chat.openai.com/chat,
  
-->
<div class="container"  *ngIf="modifiedPhotosData && modifiedPhotosData.length==0 && photosLoaded">
  <div class="row justify-content-left">
      <div class="col-12 col-md-12">
          <div class="alert alert-warning text-left" role="alert">
              No Records.
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <ng-container *ngFor="let photo of modifiedPhotosData; let i = index">
        <ng-container *ngIf="i !== 6">
          <a [href] ="photo.link" target="_blank"><img [src]="photo.link" class="img-thumbnail" style="width:100%" *ngIf="i % 3 === 0"></a> 
        </ng-container>
      <ng-container *ngIf = "i === 6"> 
        <div></div>
      </ng-container>
    </ng-container>
  </div>
  <div class="column">
    <ng-container *ngFor="let photo of modifiedPhotosData; let i = index">
      <a [href]="photo?.link" target="_blank"><img [src]="photo?.link" class="img-thumbnail" style="width:100%" *ngIf="i % 3 === 1 && photo"></a>
    </ng-container>
  </div>  
  <div class="column">
    <ng-container *ngFor="let photo of modifiedPhotosData; let i = index">
      <a [href]="photo?.link" target="_blank"><img [src]="photo?.link" class="img-thumbnail" style="width:100%" *ngIf="i % 3 === 2 && photo"></a>
    </ng-container>
  </div>
</div>

