<div class="row">
  <div class="column">
    <ng-container *ngFor="let photo of modifiedPhotosData; let i = index">
        <ng-container *ngIf="i !== 6">
          <img [src]="photo.link" class="img-thumbnail" style="width:100%" *ngIf="i % 3 === 0">
        </ng-container>
      <ng-container *ngIf = "i === 6"> 
        <div></div>
      </ng-container>
    </ng-container>
  </div>
  <div class="column">
    <ng-container *ngFor="let photo of modifiedPhotosData; let i = index">
      <img [src]="photo?.link" class="img-thumbnail" style="width:100%" *ngIf="i % 3 === 1 && photo">
    </ng-container>
  </div>  
  <div class="column">
    <ng-container *ngFor="let photo of modifiedPhotosData; let i = index">
      <img [src]="photo?.link" class="img-thumbnail" style="width:100%" *ngIf="i % 3 === 2 && photo">
    </ng-container>
  </div>
</div>

