<div class="row">
  <div class="column">
    <ng-container *ngFor="let photo of modifiedPhotosData; let i = index">
        <ng-container *ngIf="i !== 6">
          <img [src]="photo.link" class="img-thumbnail" style="width:100%" *ngIf="i % 3 === 0">
        </ng-container>
      <ng-container *ngIf = "i === 6"> 
        <div></div>
      </ng-container>
    </ng-container>
  </div>
  <div class="column">
    <ng-container *ngFor="let photo of modifiedPhotosData; let i = index">
      <img [src]="photo?.link" class="img-thumbnail" style="width:100%" *ngIf="i % 3 === 1 && photo">
    </ng-container>
  </div>  
  <div class="column">
    <ng-container *ngFor="let photo of modifiedPhotosData; let i = index">
      <img [src]="photo?.link" class="img-thumbnail" style="width:100%" *ngIf="i % 3 === 2 && photo">
    </ng-container>
  </div>
</div>



 <!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-1 " *ngIf="photosData[0]">
        <img [src]="photosData[0].link" class=" img-fluid" alt="Responsive image" />
    </div>
    <div class="col-md-4 col-sm-1 " *ngIf="photosData[1]">
        <img [src]="photosData[1].link" class=" img-fluid" alt="Responsive image" />
    </div>
    <div class="col-md-4 col-sm-1 " *ngIf="photosData[2]">
        <img [src]="photosData[2].link" class=" img-fluid" alt="Responsive image" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-1 " *ngIf="photosData[3]">
        <img [src]="photosData[3].link" class=" img-fluid" alt="Responsive image" />
    </div>
    <div class="col-md-4 col-sm-1 " *ngIf="photosData[4]">
        <img [src]="photosData[4].link" class=" img-fluid" alt="Responsive image" />
    </div>
    <div class="col-md-4 col-sm-1 " *ngIf="photosData[5]">
        <img [src]="photosData[5].link" class=" img-fluid" alt="Responsive image" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-1 ">
    </div>
    <div class="col-md-4 col-sm-1 " *ngIf="photosData[6]">
        <img [src]="photosData[6].link" class=" img-fluid" alt="Responsive image" />
    </div>
    <div class="col-md-4 col-sm-1 " *ngIf="photosData[7]">
        <img [src]="photosData[7].link" class=" img-fluid" alt="Responsive image" />
    </div>
  </div>
</div>  -->
<!--
<div class="item" *ngFor="let photo of photosData">
  <img [src]="photo.link" class="img-fluid" alt="Responsive image" />
</div> -->
