.column {
  float: left;
  width: 33.33%;
  padding: 1%;
}

.column img {
  margin-top: 12px;
  border: black solid 8px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.img-thumbnail{
  min-height: 100px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  
}