.table-cell-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 125px;
}

.product-image {
  width: 125px;
  height: 125px;
}

.product-title {
  color: cadetblue;
  margin-bottom: 0;
  margin-top: 2rem; 
}

.product-price {
  color: lightgreen;
  margin-bottom: 0;
}

.product-shipping {
  color: goldenrod;
  margin-bottom: 0;
}

.product-days-left {
  color: white;
  margin-bottom: 0;
}

