.table-cell-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 125px;
}

.product-image {
  width: 125px;
  height: 125px;
}

.product-title {
  color: cadetblue;
  margin-bottom: 0;
}

.product-price {
  color: lightgreen;
  margin-bottom: 0;
}

.product-shipping {
  color: goldenrod;
  margin-bottom: 0;
}

.product-days-left {
  color: white;
  margin-bottom: 0;
}

a{
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .table-cell-custom {
    width: 100%;
  }
  
  .table td {
    border-bottom: 6.5px solid #202327;
  }

  .table th {
    border: 0 !important;
  }

  #sortCriteria{
    width: 100%;
    display: block;
  }

  #sortOrder{
    width: 100%;
    display: block;
  }

  .sortContainer{
    display: block !important;
  }
}
